


<div ng-controller="editController"   >
	<div ng-class="row " >
	<div ng-repeat="filimRow in filimOuterRow" >
		
				
				<div class="col-md-12" ng-show="filimRow != null">
						<div class="col-md-3 " >
								
								<img ng-src="{{filimRow[0].images[0]}}" alt="..." class="img-thumbnail">
						</div>

						<div class="col-md-3" >
								<img ng-src="{{filimRow[0].images[0]}}" alt="..." class="img-thumbnail">
						</div>

						<div class="col-md-3" >
								<img ng-src="{{filimRow[0].images[0]}}" alt="..." class="img-thumbnail">
						</div>

						<div class="col-md-3" >
								<img ng-src="{{filimRow[0].images[0]}}" alt="..." class="img-thumbnail">
						</div>
				<div>
			
		
	</div>
	</div>
</div>

