


<div ng-controller="listController"   >
	<div class="row col-md-12"  >
			  <div  style="height:40px" > </div>
	<div>
	<div ng-class="row " >
	<div ng-repeat="filimRow in filimOuterRow" >
				
				<div class="row" >
					<div class="col-md-12" >
							<div class="col-md-3 " >
									
								 <a href="#/editFilim">	
								 		<img  class="img-responsive" ng-click="editDetNavigation(filimRow[0])" ng-src="{{filimRow[0].images[0]}}" alt="..." class="thumbnail">
								 </a>
							</div>

							<div class="col-md-3"  >
									 <a href="#/editFilim">	
								 		<img  class="img-responsive" ng-click="editDetNavigation(filimRow[1])" ng-src="{{filimRow[1].images[0]}}" alt="..." class="thumbnail">
									 </a>
							</div>

							<div class="col-md-3" >
									 <a href="#/editFilim">	
								 		<img  class="img-responsive" ng-click="editDetNavigation(filimRow[2])" ng-src="{{filimRow[2].images[0]}}" alt="..." class="thumbnail">
									 </a>
							</div>

							<div class="col-md-3" >
									 <a href="#/editFilim">	
								 		<img  class="img-responsive" ng-click="editDetNavigation(filimRow[3])" ng-src="{{filimRow[3].images[0]}}" alt="..." class="thumbnail">
									 </a>
							</div>
					<div>
			    <div>

			    <div class="row col-md-12"  >
			    		<div  style="height:120px" > </div>
			    <div>
		
	</div>
	</div>
</div>

